<div class="awards">

    {% for awards in site.data.awards %}

    <ul data-year="{{ awards.year }}">

        {% for category in awards.categories %}

        <li>
            <p class="award">
                {{ category.type }}:
                &emsp;
                <br class="mobile">
                <a href="{{ category.link }}">{{ category.name }}</a>
            </p>

            {% if category.comment != nil %}
                <blockquote><p>{{ category.comment }}</p></blockquote>
            {% endif %}

        </li>

        {% endfor %}

    </ul>

    {% endfor %}

</div>
