<div>
    {% for work in site.data.research %}

    <h3><span class="date">[{{ work.year }}]</span> {{ work.title }}</h3>

    {% if work.authors != nil %}
        <p class="authors"> <em>authors:</em>
            {% for author in work.authors %}

                {% include links.html link=author.link title=author.name %}
    
            {% endfor %}
        </p>
    {% endif %}

    <blockquote><p>{{ work.abstract }}</p></blockquote>

    {% for conf in work.conferences %}

        <a href="{{ conf.link }}" class="conf">{{ conf.name }}</a> <br>

    {% endfor %}

    {% if work.conferences != nil %}
        {% if work.links != nil %}   
            <br>
        {% endif %} 
    {% endif %}

    {% for link in work.links %}

        {% include links.html link=link.link title=link.title %}

    {% endfor %}
{% endfor %}
</div>
