body {
    padding: 1em 10%;
    font-family: sans-serif;
}

img {
    height: auto;
    max-width: 80%;
}

.about {
    width: 20%;
    float: left;
    text-align: right;
}

.content {
    margin-left: 25%;
}
