@use "color" as *;

$top-padding: 2em;

body {
    font-family: sans-serif;
    line-height: 1.25em;

    padding: $top-padding;
    width: 80%;
    margin: 0 auto;

    display: flex;
    gap: 2em;
    flex: 1 auto;
}

.mobile {
    display: none;
}

a {
    color: $link;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile {
    width: 100%;
    display: block;
}

blockquote>p {
    border-left: 1px solid $highlight;
    padding-left: 1em;
}

.toc {
    margin: 2em .5em;
}

.info {
    margin: .5em 0;

    display: flex;
    align-items: center;
    justify-content: right;

    text-decoration: none;
    color: black;
}

.date {
    color: $highlight;
}

.icon {
    width: 1em;
    height: auto;
    margin: 0 .5em;

    display: inline;
}

h1 {
    margin-top: 0;
    padding-top: .5em;
}

h2 {
    padding-top: 1em;
}

.subtitle {
    padding-left: 2em;
    font-style: italic;
}

.about {
    position: sticky;
    top: $top-padding;
    align-self: flex-start;

    text-align: right;

    width: 100%;
    min-width: 225px;
    max-width: 250px;
}

.content {
    flex: auto;
}
