$top-padding: 2em;
$oranje: #bd8100;

body {
    font-family: sans-serif;
    line-height: 1.25em;

    padding: $top-padding;
    width: 80%;
    margin: 0 auto;

    display: flex;
    gap: 2em;
    flex: 1 auto;
}

a {
    color: $oranje;
    text-decoration: none;
}

.profile {
    width: 100%;
    display: block;
}

blockquote > p {
    border-left: 1px solid $oranje;
    padding-left: 1em;
}

.info {
    display: flex;
    align-items: center;
    justify-content: right;

    text-decoration: none;
    color: black;
}

.conf {
    padding-left: 2em;
}

.conf:before {
    content: '@ ';
}

.link {
    border: 1px solid $oranje;
    border-radius: 4px;
    padding: 0 .5em;
}

.link:hover {
    color: white;
    background-color: $oranje;
}

.icon {
    width: 1em;
    height: auto;
    margin: 0 .5em;

    display: inline;
}

h1 {
    margin-top: 0;
    padding-top: .5em;
}

h2 {
    padding-top: 1em;
}

h3 {
    color: $oranje;
}

.about {
    position: sticky;
    top: $top-padding;
    align-self: flex-start;

    text-align: right;

    width: 100%;
    min-width: 225px;
    max-width: 250px;
}

.content {
    flex: auto;
}