@media only screen and (max-width: 960px)  {
    body {
        flex-direction: column;
    }

    .about .profile {
        max-height: 40vh;
        width: auto;

        display: inline;
    }

    .about {
        width: 100%;
        text-align: center;
        position: inherit;

        border-bottom: 1px solid gray;
        padding-bottom: 2em;
    }

    .info {
        justify-content: center;
    }
}
