@media (max-width: 960px)  {
    body {
        flex-direction: column;
    }

    .about .profile {
        max-height: 25vh;
        width: auto;

        display: inline;
    }

    .about {
        width: 100%;
        max-width: none;

        text-align: center;
        position: inherit;

        border-bottom: 1px solid $highlight;
        padding-bottom: 2em;
    }

    .info {
        justify-content: center;
    }
}
