.picture-grid {
    margin: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
}

.picture-grid img {
    width: 100%;
}

.date {
    color: gray;
}

@media (max-width: 1420px)  {
    .picture-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1080px)  {
    .picture-grid {
        grid-template-columns: 1fr;
        margin: 3em 0;
    }
}

