@use "color" as *;

.blog-post {
    text-align: justify;
}

.blog-post img {
    display: block;
    margin: 2em auto;
    max-height: 60vh;
    max-width: 100%;
    object-fit: contain;
}

.blog-grid {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1em;
}

.blog-grid > div {
    border: 1px solid $highlight;
    border-radius: 4px;
    padding: 0 1em;
}

.blog-grid .go-to {
    text-align: right;
    border: none;
}

.blog-grid .other {
    text-align: center;
    padding-top: 4em;
}

.category {
    border: 1px solid $link;
    border-radius: 4px;
    padding: 0 .5em;

    background-color: $link;
    color: white;

    font-size: small;
}

.tag {
    border: 1px solid $highlight;
    border-radius: 4px;
    padding: 0 .5em;

    background-color: $highlight;
    color: white;

    font-size: small;
}

.breadcrumb {
    color: $highlight;
    font-size: small;
}

a.breadcrumb {
    color: $link;
}

@media (max-width: 1420px)  {
    .blog-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1080px)  {
    .blog-grid {
        grid-template-columns: 1fr;
        margin: 3em 0;
    }
}

